.espufi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.espufi p {
  letter-spacing: 0.2em;
  font-size: 0.8rem;
  color: rgb(88, 88, 88);
}
.espufi h2 {
  letter-spacing: 0.1em;
  font-size: 2.5rem;
  margin-bottom: 8vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.contenedorImg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  overflow: hidden;
  margin-bottom: 8vh;
}
.contenedorImg > img {
  width: 15vw;
  height: 15vw;
  /* margin: 1px; */
  transition: 0.4s;
  object-fit: cover;
}
.contenedorImg > img:hover {
  cursor: pointer;
  filter: saturate(50%) opacity(90%);
}
